In [1]:
import pandas as pd

In [4]:
loc = pd.read_csv('sequences.csv')
loc

          Accession                  Geo_Location
0      YP_009724390                         China
1          QPD96851                 USA: New York
2          QPD96890                       USA: Ak
3          QNQ32115  USA: Washington, King county
4          QNQ32127  USA: Washington, King county
...             ...                           ...
26617      QHO62877                 USA: Illinois
26618      QHN73795               China: Shenzhen
26619      QHN73810                         China
26620      QHO60594                           USA
26621      QHD43416                         China

[26622 rows x 2 columns]

In [16]:
with open('sequences.fasta') as f:
    lines = list(f)

In [24]:
seq = []
for l in lines:
    if l[0][0] == '>': 
        seq.append([l[:-1]])
    elif len(seq[-1]) == 1: 
        seq[-1].append(l[:-1])
    else:
        seq[-1][1] = seq[-1][1] + l[:-1]